<template>
	<v-layout grid-list-md justify-center align-center fill-height>
		<v-flex text-xs-center v-if="Object.keys(files).length > 0" >
			<v-card>
				<v-list two-line subheader>

					<v-list-tile v-for="(item, key, index) in files" avatar @click="viewItem(key)">
						<v-list-tile-avatar>
							<v-icon :class="[item.iconClass]">photo_size_select_actual</v-icon>
						</v-list-tile-avatar>
						<v-list-tile-content>
							<v-list-tile-title>{{ item.name }}</v-list-tile-title>
							<v-list-tile-sub-title>{{ item.sizeBytes }}</v-list-tile-sub-title>
						</v-list-tile-content>

						<v-list-tile-action>
							<v-btn icon ripple >
								<v-icon color="grey lighten-1">info</v-icon>
							</v-btn>
						</v-list-tile-action>
					</v-list-tile>
				</v-list>
			</v-card>
		</v-flex>
		<v-flex v-else text-xs-center >
			<v-progress-circular
				indeterminate
				color="primary"
				></v-progress-circular>
		</v-flex>
			<!-- Dialog Zone -->
			<v-dialog :persistent="true" :value="dialogUpload" max-width="70%" >
				<v-card>
					<v-card-title class="headline">Upload</v-card-title>
					<v-card-text>
						<VueDropzone @vdropzone-success="uploadSuccess" id="dzUpload" :options="dzUploadOptions"></VueDropzone>
					</v-card-text>
					<v-divider></v-divider>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							color="primary"
							flat
							@click="closePopupUpload"
							>
							Close
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
			<v-dialog :persistent="true" :value="dialogView" max-width="70%" >
				<v-card>
					<v-card-title class="headline">{{ currentFileView.name }}</v-card-title>
					<v-card-text>
						<v-flex text-xs-center>
							<v-img :src="currentFileView.url" contain>
								<template v-slot:placeholder>
									<v-layout
										fill-height
										align-center
										justify-center
										ma-0>
										<v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
									</v-layout>
								</template>
							</v-img>
						</v-flex>
					</v-card-text>
					<v-divider></v-divider>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							color="primary"
							flat
							@click="closePopupView"
							>
							Close
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
	</v-layout>
</template>

<script>
import Vuex from 'vuex'
import Viewer from "v-viewer/src/component.vue"
import VueDropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default{
	components: {
		VueDropzone,
		Viewer
	},
	created () {
		this.$store.dispatch('fetchDocuments')
	},
	methods: {
		uploadSuccess(files, response) {
			this.$store.dispatch('addFiles', response)
		},
		viewItem(fileId) {
			this.$store.dispatch('togglePopupView')
			this.$store.dispatch('viewDocument', fileId)
		},
		closePopupView() {
			this.$store.dispatch('togglePopupView')
		},
		closePopupUpload() {
			this.$store.dispatch('togglePopupUpload')
		}
	},
	computed: {
		dzUploadOptions() {
			return this.$store.getters.dzUploadOptions
		},
		dialogUpload() {
			return this.$store.getters.dialogUpload
		},
		currentFileView() {
			return this.$store.getters.currentFileView
		},
		dialogView() {
			return this.$store.getters.dialogView
		},
		files() {
			return this.$store.getters.files
		},
		pagination() {
			return this.$store.getters.pagination
		}
	}
}
</script>
<style >
.item {
	cursor: pointer;
}
</style>
