<template>
	<v-app id="inspire">
		<v-navigation-drawer v-model="drawer" fixed app >
			<v-list dense>
				<v-list-tile @click="">
					<v-list-tile-action>
						<v-icon>home</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						<v-list-tile-title>Home</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
				<v-list-tile @click="">
					<v-list-tile-action>
						<v-icon>contact_mail</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						<v-list-tile-title>Contact</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
			</v-list>
		</v-navigation-drawer>
		<v-toolbar color="indigo" dark fixed app>
			<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
			<v-toolbar-title>My Documents</v-toolbar-title>
			<v-spacer></v-spacer>
			<v-btn icon @click="toggleDialogUpload">
				<v-icon>cloud_upload</v-icon>
			</v-btn>
		</v-toolbar>
		<v-content>
			<Documents></Documents>
		</v-content>
	</v-app>
</template>

<script>
import Documents from './components/Documents'

export default {
	name: 'App',
	components: {
		Documents
	},
	data () {
		return {
			drawer: null
		}
	},
	methods: {
		toggleDialogUpload() {
			this.$store.dispatch('togglePopupUpload')
		}
	}
}
</script>
